@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --background: #010103;
    --border: 0.1rem solid rgba(255,255,255, 0.3);
}

/*need to know why background will not change*/
body {
    background-color: #010103;
}
h2 {
    padding-top: 0.5em;
}

h4 {
    justify-content: left;
}

.drop-down-choices {
    padding-bottom: 0.5em;
}

#roast-selection{
    width: 100%;

.title-style{
    font-family: 'Hind', sans-serif;
    color: white;
    background: transparent;
    z-index: 2;
}

#coffees {
    margin: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#roast-selection {
    width: 50%;
}

.coffee-name {
    width: 50%;
}
.drop-down-choices {
    padding: 0.5em;
    border-style: solid;
    border-radius: 15px 30px;

}
.main-btn {
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    background: #2d333b;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}
.main-btn:hover {
    border-color: #74391E;
    background-color: #FFFFFF;
    color: #74391E;
}

.coffee-name {
    width: 50%;
}

.footer {
    background:var(--black);
    text-align: center;
}

.footer .shar{
    padding: 1rem 0;
}

.footer .shar a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: sandybrown;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .shar a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: 0.7rem 2rem;
    color: #FFFFFF;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);

.form:hover{
    /*border-style: solid;*/
    border-radius: 15px 30px;
    background-color: rgba(169, 239, 169, 0.99);
    border: 2px solid black;
    width: 50%;
    text-align: center;


}

#submit, #coffee-button {
    border-radius: 30px 15px;
    margin-top: 1em;
    width: 50%;
}

.coffee-list:hover {
    border-radius:30px 15px;
    border: 2px solid black;
    text-align: center;
    background-color: rgba(169, 239, 169, 0.99);
}